.box-container {
    @include clearfix();
}

.box {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $screen-xs-max) {
        position: fixed;
        @include centering();
        width: rem(1086);
    }
}

.content-container {
    min-height: 100%;

    @media screen and (min-width: $screen-xs-max) {
        overflow: hidden;
        border-#{$right}: rem(12) solid $main-theme-color;
        @include box-shadow(0px, 0px, 70px, 0px);
        @include prefixer(border-radius, rem(8), webkit moz);
        @include prefixer(border-top-#{$right}-radius, rem(250), webkit moz);
        animation: dynamic-border-color 100s linear infinite;
    }
}

.column {
    @media screen and (min-width: $screen-xs-max) {
        height: rem(650);
    }

    z-index: 2;

    &.first-col {

        .profile-pic-container {
            position: relative;
            height: 100%;

            @media screen and (max-width: $screen-xs-max) {
                height: auto;
                text-align: center;
                padding: rem(50) 0;
            }

            .profile-pic {
                width: 100%;
                height: 100%;
                object-fit: cover;



                @media screen and (max-width: $screen-xs-max) {
                    width: 50%;
                    height: auto;
                    padding: rem(4);
                    border: rem(4) solid rgba(0, 0, 0, 0.5);
                    @include prefixer(border-radius, 100%, webkit moz);
                    animation: dynamic-border-color 100s linear infinite;
                }

                @media screen and (max-width: $screen-xs-max) and (min-width: 600px) {
                    width: 35%;
                }

            }
        }
    }

    &.second-col {
        position: relative;

        @media screen and (min-width: $screen-xs-max) {
            background: rgb(189, 195, 199);
            @include prefixer(background, linear-gradient(180deg, rgba(189, 195, 199, 1) 0%, rgba(245, 246, 250, 1) 30%, rgba(241, 242, 246, 1) 70%, rgba(189, 195, 199, 1) 100%), webkit moz);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc3c7", endColorstr="#bdc3c7", GradientType=1);
        }

        .profile-description-container {
            position: relative;
            padding: rem(140) rem(48);
            padding-#{$right}: rem(180);
            padding-bottom: 0;
            height: 100%;

            @media screen and (max-width: $screen-xs-max) {
                padding: rem(32);
                padding-bottom: rem(64);
            }
        }

        .profile-name-container {

            .profile-name {
                font-size: rem(40);
                color: $main-theme-color;
                animation: dynamic-theme-font-color 100s linear infinite;
                animation: dynamic-theme-font-color 100s linear infinite;

                .bold {
                    font-weight: 900;
                }

            }

            .profile-profession {
                font-size: rem(24);
                padding-bottom: rem(24);
            }
        }

        .profile-description {
            position: relative;
            padding-bottom: rem(64);

            p {
                font-size: rem(20);
                line-height: rem(24);

                @media screen and (min-width: $screen-xs-max) {
                    text-align: justify;
                }

                &:not(:last-of-type) {
                    padding-bottom: rem(16);
                }
            }
        }

        .contact-options-container {
            position: relative;
            @include clearfix();


            .contact-option {
                display: inline-block;

                &:not(:last-of-type) {
                    @media screen and (min-width: $screen-xs-max) {
                        margin-#{$right}: rem(16);
                    }

                    @media screen and (max-width: 550px) {
                        padding-bottom: rem(24);
                    }
                }


                @media screen and (max-width: $screen-xs-max) {
                    text-align: center;
                    float: $left;
                    width: 33.3333%;
                }

                @media screen and (max-width: 550px) {
                    display: block;
                    width: 75%;
                    float: none;
                    margin: 0 auto;
                }

                a {
                    position: relative;
                    display: block;
                    color: #0097e6;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: rem(8);
                    width: rem(52);
                    height: rem(52);

                    @media screen and (max-width: $screen-xs-max) {
                        width: rem(150);
                        margin: 0 auto;
                    }

                    @media screen and (max-width: 550px) {
                        width: 75%;
                    }


                    svg {
                        position: absolute;
                        @include centering();
                        width: 75%;
                        height: auto;

                        @media screen and (max-width: $screen-xs-max) {
                            width: 25%;
                        }

                        @media screen and (max-width: 550px) {
                            width: 15%;
                        }

                        g {
                            fill: $main-theme-color;
                            animation: dynamic-svg-color 100s linear infinite;
                        }
                    }

                }
            }
        }
    }
}